.col-md-8.col-md-offset-2
  .row
    .panel.panel-default
      .panel-heading
        %h1 Fix Foto!
      .panel-body
        .current_image
          %strong.center Right Now
          = image_tag @pic.photo.url(:thumbnail)
        = render 'form'

